

    <a href="/database/index" class="chat">
      <%= image_tag "chat.png", height: "44px", width: "44px" %>
    </a>



    <!-- <a href="/about/show" class="about hvr-float-shadow">
      <%= image_tag "about.png", height: "50px", width: "50px" %>
    </a>

    <a href="mailto:president@eaglecoatings.net" class="email hvr-float-shadow">
      <%= image_tag "email.png", height: "55px", width: "55px" %>
    </a>

    <a href="https://www.facebook.com/" class="facebook hvr-float-shadow">
      <%= image_tag "facebook.png", height: "52px", width: "52px" %>
    </a>

    <a href="https://twitter.com/?lang=en" class="tw hvr-float-shadow">
      <%= image_tag "tw.png", height: "54px", width: "54px" %>
    </a>

    <a href="https://www.youtube.com/channel/UCERGEwuO7jKen536Drjfirw" class="youtube hvr-float-shadow">
      <%= image_tag "youtube.png", height: "53px", width: "53px" %>
    </a>

    <a href="/industry_links/show"class="links hvr-float-shadow">
      <%= image_tag "links.png", height: "52px", width: "52px" %>
    </a>

    <a href="/certified_contractors/show"class="contractors hvr-float-shadow">
      <%= image_tag "certcontr.png", height: "55px", width: "55px" %>
    </a> -->



      <a href="/payments/show" class="pay hvr-float-shadow">
        <%= image_tag "pay.png", class: "hover", height: "53px", width: "53px" %>
      </a>
