
  <div class="thermal-box"></div>
  <div class="thermal-img"><%= image_tag "supertherm.jpg", height: "247px", width: "375px" %></div>
  <div class="thermal-vid">
    <%= video_tag "SuperTHERM.mp4", height: "246px", width: "375px", :controls => false %>
  </div>
  <div class="thermal-white"></div>
  <div class="thermal-img-title">
    Thermal
  </div>
  <div class="play-thermal"><%= image_tag "play.png", height: "80px", width: "80px" %></div>

  <div class="corrosion-box"></div>
  <div class="corrosion-img"><%= image_tag "co.jpg", height: "247px", width: "375px" %></div>
  <div class="corrosion-vid">
    <!-- <%= videojs_rails sources: { mp4: "SuperTHERM.mp4", webm: "Corrosion.mp4"}, setup: "{}", controls: true, width:"400" %> -->

    <%= video_tag "Corrosion.mp4", height: "430px", width: "375px", :controls => false %>
  </div>



  <div class="corrosion-white"></div>
  <div class="corrosion-img-title">
    Corrosion
  </div>
  <div class="play-corrosion"><%= image_tag "play.png", height: "80px", width: "80px" %></div>

  <div class="fire-box"></div>
  <div class="fire-img"><%= image_tag "fire.jpeg", height: "247px", width: "375px" %></div>
  <div class="fire-white"></div>
  <div class="fire-img-title">
    Fire
  </div>
  <div class="fire-vid">
    <!-- <%= videojs_rails sources: { mp4: "hpc.mp4", webm: "hpc.mp4"}, setup: "{}", controls: true, width:"400" %> -->
    <%= video_tag "hpc.mp4", height: "553px", width: "374px", :controls => false %>
  </div>
  <div class="play-fire"><%= image_tag "play.png", height: "80px", width: "80px" %></div>

  <div class="intro">
Eagle Coatings is in the business of solving large scale construction problems. As the Canadian distributor for Superior Products International, allow us to provide your next project with over 20 years of expertise in minimizing energy loss and protecting your investment.
  </div>
