<%= render 'home/nav' %>

  <div class="thermal-box"></div>
  <div class="thermal-img"><%= image_tag "supertherm.jpg", height: "247px", width: "375px" %></div>
  <div class="thermal-vid">
    <%= video_tag "SuperTHERM.mp4", height: "246px", width: "375px", :controls => false %>
  </div>
  <div class="thermal-white"></div>
  <a href="#" class="thermal-img-title">
    Thermal
  </a>
  <div class="play-thermal"><%= image_tag "play.png", height: "80px", width: "80px" %></div>


  <div class="corrosion-box"></div>
  <div class="corrosion-img"><%= image_tag "co.jpg", height: "247px", width: "375px" %></div>
  <div class="corrosion-vid">
    <%= video_tag "Corrosion.mp4", height: "430px", width: "375px", :controls => false %>
  </div>
  <div class="corrosion-white"></div>
  <a href="#" class="corrosion-img-title">
    Corrosion
  </a>
  <div class="play-corrosion"><%= image_tag "play.png", height: "80px", width: "80px" %></div>


  <div class="fire-box"></div>
  <div class="fire-img"><%= image_tag "fire.jpeg", height: "247px", width: "375px" %></div>
  <div class="fire-white"></div>
  <a href="#" class="fire-img-title">
    Fire
  </a>
  <div class="fire-vid">
    <%= video_tag "hpc.mp4", height: "553px", width: "374px", :controls => false %>
  </div>
  <div class="play-fire"><%= image_tag "play.png", height: "80px", width: "80px" %></div>


  <div class="intro">
Eagle Coatings is in the business of solving large scale construction problems. As the Canadian distributor for Superior Products International, allow us to provide your next project with over 20 years of expertise in minimizing energy loss and protecting your investment.
  </div>

</div>
  <div class="phone">
    <%= link_to image_tag "phonenew.png", height: "90px", width: "90px" %>
  </div>

    <div class="phone-number"><img src="/assets/phonenumber.png" class="phone-full" height="45px" /></div>


<a href="http://www.spicoatings.com/" class="auth">

  <img src="/assets/spi-authorized.png" alt="" class="spi-authorized" />
  <div class="spi-authorized-title">
    All products<br>
    manufactured by
    <br>
    Superior Products<br>
    International II, Inc.

  </a>

  <%= render 'home/projects' %>
