<div class="logo"> <a href="/" class="logo-text-link">
  <h1 class="logo-text">
  Eagle Specialized Coatings
  <br><br>
  &
  <br><br>
  Protected Environments
  </a>
  <div class="logo-img">
    <%= link_to image_tag("eagle_vanacal.png", height: "340px", width: "440px"), root_path %>
  </div>
  <div class="logo-img2">
    <%= link_to image_tag("eagle_vanacalbl.png", height: "340px", width: "440px"), root_path %>
  </div>
  </h1>
</div>

<div class="magnifying-glass">
  <%= link_to image_tag "mg.png", height: "40px", width: "40px" %>
</div>

  <div class="search-box">
  </div>

  <a href="#" class="databaselayer">
    <%= image_tag "product_database_grey.png", size: "38x46" %>
  </a>

  <a href="#" class="product-database-title">
    <!-- Product Database -->
    <%= image_tag "productdatabase.png", size: "145x20" %>
  </a>
<br>
<hr>

<div class="industry-links-container">

Industry Links

  <div class="industry-links">
    <p>
<br>
      Eagle Specialized Coatings And Protected Environments ( E.S.C.A.P.E. ) a division of DW Pearce Enterprises Ltd is the Canadian and Pacific West Coast Authorized Factory direct distributor


      for Superior Products International II, Superior has set up or is in the process of setting up local distributors all around the world because they know that there is no substitute for being there. As a customer would you want support coming from half way around the world or would you prefer to have local support?, local environmental laws, local building codes, local fire codes, local WCB regulations, local labour laws, local references, etc. Listed below are links to websites and email addresses for some of the other local distributors located around the world.
    </p>

  </div>

</div>

<div class="phone">
  <%= link_to image_tag "phonenew.png", height: "90px", width: "90px" %>
</div>


  <div class="phone-number"><img src="/assets/phonenumber.png" class="phone-full" height="45px" /></div>


<a href="http://www.spicoatings.com/" class="auth">

<!-- <img src="/assets/spi-authorized.png" alt="" class="spi-authorized" />
<div class="spi-authorized-title">
  All products<br>
  manufactured by
  <br>
  Superior Products<br>
  International II, Inc.

</a> -->

<%= render 'home/footer' %>
