<div class="logo"> <a href="/" class="logo-text-link">
  <h1 class="logo-text">
  Eagle Specialized Coatings
  <br><br>
  &
  <br><br>
  Protected Environments
  </a>
  <div class="logo-img">
    <%= link_to image_tag("eagle_vanacal.png", height: "340px", width: "440px"), root_path %>
  </div>
  <div class="logo-img2">
    <%= link_to image_tag("eagle_vanacalbl.png", height: "340px", width: "440px"), root_path %>
  </div>
  </h1>
</div>

<div class="magnifying-glass">
  <%= link_to image_tag "mg.png", height: "40px", width: "40px" %>
</div>

  <div class="search-box">
  </div>

  <a href="#" class="databaselayer">
    <%= image_tag "product_database_grey.png", size: "38x46" %>
  </a>

  <a href="#" class="product-database-title">
    <!-- Product Database -->
    <%= image_tag "productdatabase.png", size: "145x20" %>
  </a>
<br>
<hr>

<div class="about-container">

  About Us

  <div class="about-us">
    <p>
<br>
Eagle Specialized Coatings And Protected Environments ( E.S.C.A.P.E. ) a division of DW Pearce Enterprises Ltd is the Canadian and Pacific West Coast Authorized Factory direct distributor
Autiorized distributor
for Superior Products International II, Inc. a US manufacturer of leading edge, high tech industrial protective coatings with a world wide distributor network.
<br><br>

 There is only one thought you need to keep in mind...if you don't see the solution for your problem here, it probably hasn't been created...at least not yet! The challenge is only a phone call away. at (604) 576-2212 Monday to Friday 9AM to 5PM Pacific Standard Time
    </p>

  </div>

</div>

<div class="phone">
  <%= link_to image_tag "phonenew.png", height: "90px", width: "90px" %>
</div>


  <div class="phone-number"><img src="/assets/phonenumber.png" class="phone-full" height="45px" /></div>


<a href="http://www.spicoatings.com/" class="auth">

<!-- <img src="/assets/spi-authorized.png" alt="" class="spi-authorized" />
<div class="spi-authorized-title">
  All products<br>
  manufactured by
  <br>
  Superior Products<br>
  International II, Inc.

</a> -->

<%= render 'home/footer' %>
