<a href="#" class="tds">
  <%= image_tag "tds.png", size: "66x68" %>
</a>

<a href="#" class="certifications">
  <%= image_tag "certifications.png", size: "70x75" %>
</a>

<a href="#" class="project-pictures">
  <%= image_tag "pic.png", size: "70x55" %>
</a>

<a href="#" class="project-videos">
  <%= image_tag "vid.png", size: "55x55" %>
</a>

<a href="#" class="application-instructions">
  <%= image_tag "instructions", size: "67x67" %>
</a>

<a href="#" class="tds-text">
  Technical <br> Data Sheets
</a>

<a href="#" class="certifications-text">
  Certifications
</a>

<a href="#" class="project-pictures-text">
   Project Pictures
</a>

<a href="#" class="project-videos-text">
  Project Videos
</a>

<a href="#" class="application-instructions-text">
  Application Instructions
</a>
