<div class="tds">
  <%= image_tag "tds.png", size: "66x68" %>
</div>

<div class="certifications">
  <%= image_tag "certifications.png", size: "70x75" %>
</div>

<div class="project-pictures">
  <%= image_tag "pic.png", size: "70x55" %>
</div>

<div class="project-videos">
  <%= image_tag "vid.png", size: "55x55" %>
</div>

<div class="application-instructions">
  <%= image_tag "instructions", size: "67x67" %>
</div>

<div class="tds-text">
  Technical <br> Data Sheets
</div>

<div class="certifications-text">
  Certifications
</div>

<div class="project-pictures-text">
   Project Pictures
</div>

<div class="project-videos-text">
  Project Videos
</div>

<div class="application-instructions-text">
  Application Instructions
</div>
